body {
    height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container div {
    flex-basis: calc((100% / 16) - 2px);
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}

.square {
    background-color: aquamarine;
}


